django
djangorestframework
decorator
djangorestframework-csv
djangorestframework-xml
Markdown==2.6.2
psycopg2
python-dotenv
six
django-guardian
django-model-utils
quartet_templates
quartet_capture
gs123
jinja2
